html {
    font-family: inter, Helvetica, sans-serif;
}

.search-container {
    text-align: center;
    width: 100%;
}

#search-bar {
    background-color: #f0f8ff;
    border: 2px solid #66aaff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    margin-top: 50px;
    outline: none;
    padding: 20px 40px;
    width: 75%;
}

#search-bar::placeholder {
    color: #a0a0a0;
    opacity: 1;
}

.sort-container {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.sort-button {
    background-color: #f0f8ff;
    border: 1px solid #66aaff;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.sort-button:hover {
    background-color: #66aaff;
    border-color: #0056b3;
    color: white;
}
.sort-container span {
    color: #333;
    font-family: inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
