html {
    font-family: inter, Helvetica, sans-serif;
}

#transaction-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.transaction-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.transaction-card h3 {
    font-size: 1.2em;
    color: #333;
}

.transaction-card p {
    font-size: 1em;
    color: #666;
}

