
html {
    padding: 0;
    margin: 0;
    background: radial-gradient(white, rgb(0, 106, 255));
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #6699CC, #66CCFF, #99CCFF); 
    padding: 0; 
}

.navElement {
    height: 50px;
    padding: 10px 25px;
    margin-left: 5%;
    margin-right: 5%;
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.navElement:hover {
    cursor: pointer;
    background-color: rgba(102, 122, 255, 0.519); 
    filter: brightness(1.2) contrast(1.1); 
}

#selected {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}
.content{
    width: 70%;
    margin: 0 auto;
    background-color: #e9edf6;
    height: 1000px;
}
@media (max-width: 600px) {
    .content { width: 100%; } 
}