html {
    font-family: inter, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.nav {
    align-items: center;
    background: linear-gradient(to right, #6699cc, #66ccff, #99ccff);
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.navElement {
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 25px;
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.navElement:hover {
    background-color: rgba(102, 122, 255, 0.519);
    cursor: pointer;
    filter: brightness(1.2) contrast(1.1);
}

#selected {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}
.content {
    background-color: #e9edf6;
    height: 1000px;
    margin: 0 auto;
    width: 70%;
}
@media (max-width: 600px) {
    .content {
        width: 100%;
    }
}

.firebaseSignOut {
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    height: 50px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 25px;
    transition: filter 0.3s ease, background-color 0.3s ease;
}
