html {
    font-family: inter, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
}

.search-container {
    text-align: center;
    width: 100%;
}

#search-bar {
    background-color: #f0f8ff;
    border: 2px solid #66aaff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    margin-top: 50px;
    outline: none;
    padding: 20px 40px;
    width: 75%;
}

#search-bar::placeholder {
    color: #a0a0a0;
    opacity: 1;
}

.sort-container {
    justify-content: center;
    align-items: center;
    overflow: scroll;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.sort-button {
    background-color: #f0f8ff;
    border: 1px solid #66aaff;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.sort-button:hover {
    background-color: #66aaff;
    border-color: #0056b3;
    color: white;
}
.sort-container span {
    color: #333;
    font-family: inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#transaction-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.transaction-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.transaction-card h3 {
    font-size: 1.2em;
    color: #333;
}

.transaction-card p {
    font-size: 1em;
    color: #666;
}

